# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build

# Visual studio and InteliJ
.vscode
.idea

# Network states
*.tar
network/__pycache__/

# NEK files
*.f000*

*.png
# MAC
.DS_Store

#Folder
/losses_plot
/trained_models

utils/local_graph_builder.py